<!DOCTYPE html>
<html>
<head>
    <title>Take Attendance</title>
</head>
<body style="background-color: black; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
    <h1 style="color:white;">Camera Feed - Attendance</h1>
    <img src="{{ url_for('video_feed') }}" style="border: 5px solid white; border-radius: 10px;" width="640" height="480">
    <br>
    <a href="/register" style="color: white; background: green; padding: 10px 20px; border-radius: 10px; text-decoration: none;">🔙 Back to Home</a>
</body>
</html>
